@model Projet_ASP.Models.Diffusion.DiffusionDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiffusionDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiffusionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiffusionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiffusionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiffusionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitleLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTitleLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Can3D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Can3D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Can4DX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Can4DX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCinemaPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCinemaPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberCinemaRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberCinemaRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_CinemaRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_CinemaRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Movie)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Diffusion })
    <a asp-action="Index">Back to List</a>
</div>
