@model Projet_ASP.Models.CinemaRoom.CinemaRoomDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CinemaRoomDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Can3D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Can3D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Can4DX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Can4DX)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_CinemaRoom }) |
    <a asp-action="Index">Back to List</a>
</div>
