@model IEnumerable<Projet_ASP.Models.CinemaRoom.CinemaRoomListItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Can3D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Can4DX)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.SeatsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Can3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Can4DX)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_CinemaRoom }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_CinemaRoom }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_CinemaRoom })
            </td>
        </tr>
}
    </tbody>
</table>
